:root{
    --100 : -webkit-fill-available;
}
.menu_icon{
    height: 15px;
    margin-right: 10px;
}
.side-menu li{
    display: flex;
}
.Heading_slider_con{
    width: var(--100);
    /* height: 200px; */
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}
.Description_slider_con{
    display: flex;
    flex-wrap: wrap;

}
.content-wrapper{
    min-height: auto;
    height: fit-content;
}

.Image_con{
    width: 335px;
    height: 250px;
    /* background-color: red; */
    margin: 10px;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
.Image_con_img{
    width: var(--100);
    height: var(--100);
    object-fit: cover;
}
.Delet_img_con{
    width: 60px;
    height: 60px;
    background-color: #253544;
    box-shadow: 0px 0px 0px 16px #f1f1f1;
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.Delet_img_con img{
    height: 30px;
}


.Delet_img_con:hover {
    background-color: red;
}

#yourBtn {
    box-shadow: 0px 0px 0px 20px #ffffff;
    font-family: calibri;
    width: 70px;
    height: 70px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #253544;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#yourBtn:hover{
    background-color: red;
}
.Form_popup{
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--100);
    height: var(--100);
    background-color: #253544;
    z-index: 10000;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}
.close_btn{
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 70px;
    background-color: #374f65;
    z-index: 2;
    position: absolute;
    /* top: 10px; */
    /* right: 10px; */
    /* border-radius: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 0px 30px;
    color: white;
}
.close_btn img , .icon_img{
    height: 30px;
}
.room_con{
    width: var(--100);
    height: 400px;
    background-color: #253544;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    color: white;

}
.room_sub_con{
    width: 100px;
    height: var(--100);
    margin: 20px;
    /* background-color: blue; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.room_sub_con_2{
    width: 400px;
    height: var(--100);
    margin: 20px;
    /* background-color: blue; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
}
.Top_room{
    width: var(--100);
    height: 60px;
    /* background-color: green; */
}
.bottom_room{
    width: var(--100);
    height: 100px;
    /* background-color: red; */
    flex-grow: 1;
}
.Delet_room_con{
    width: 60px;
    height: 60px;
    background-color: #253544;
    box-shadow: 0px 0px 0px 16px #f1f1f1;
    z-index: 3;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.update_room_con{
    width: 60px;
    height: 60px;
    background-color: #253544;
    box-shadow: 0px 0px 0px 16px #f1f1f1;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 82px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.Delet_room_con:hover , .update_room_con:hover {
    background-color: red;
}

.r_p{
    text-align: justify;
}



.uplode_room_Form{
    max-width: 1000px;
    width: var(--100);
    height: var(--100);
    /* background-color: yellow; */
    padding: 50px;
    padding-top: 150px;
    overflow-y: scroll;
}
.uplode_room_Form::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
/* form{
    width: 100%;
    height: 100%;
} */

.form{
    width: var(--100);
    height: 500px;
    
    /* background-color: #f1f1f1; */
    display: flex;
    flex-direction: column;
    

}
.form_con{
    width: var(--100);
    height: fit-content;
    /* margin: 10px; */
    flex-grow: 1;
    /* background-color: aqua; */
}
.btn_com{
    width: var(--100);
    display: flex;
}
.f{
    display: flex;
    flex-grow: 0;
}
.form_sub_con{
    height: var(--100);
    width: 100px;
    margin: 5px;
    flex-grow: 1;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}


.input_text{
    width: var(--100);
    height: 50px;
    background-color: white;

    border: none;
    margin-bottom: 10px;

    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}
.upload_d{
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 10px;
}
.button_d{
    width: 100px;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

}
.redo_con{
    width: var(--100);
    /* height: 100px; */
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 5px;
}

.redo_sub_con{
    height: 30px;
    width: 120px;
    flex-grow: 1;
    
    margin: 5px;

    display: flex;
    align-items: center;

    padding: 10px;

    font-size: 15px;
}
label{
    margin: 0px;
    margin-left: 10px;
    cursor: pointer;
}

.flli_message{
    width: var(--100);
    height: var(--100);
    margin: 5px;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.f_btn{
    flex-grow: 1;
    margin: 5px;
    height: 40px;
    background-color: #237f91;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.f_btn:hover{
    background-color: #2da5bd;
}


.event_con{
    display: flex;
    flex-wrap: wrap;
    width: var(--100);
}

.event_main_con{
    width: 550px;
    height: 630px;
    margin: 10px;
    flex-grow: 1;
    background-color: #253544;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.E_img_con{
    width: var(--100);
    height: 250px;
    /* background-color: green; */
}
.Content_e_con{
    width: var(--100);
    height: 100px;
    flex-grow: 1;
    /* background-color: blue; */
    padding-top: 10px;
    overflow: hidden;
}
.E_img_con img{
    width: var(--100);
    height: 100%;
    object-fit: cover;
}

.offers_con{
    width: var(--100);
    background-color: white;
    height: 70px;
    position: relative;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.edit_btn{
    width: 100px;
    height: var(--100);
    background-color: #253544;
    z-index: 2;
    position: absolute;
    top: 00px;
    right: 0px;
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.edit_btn:hover{
    background-color: red;
}
.edit_btn img{
    height: 40px;
}
.o_P{
    margin-right: 150px;
    font-size: 18px;
    margin-bottom: 0px;
}
.offers_con_3{
    height: 120px;
}
.icon_img_{
    width: 100px;
    height: 100px;
}
.offers_sub_con{
    height: var(--100);
    width: 100px;
    flex-grow: 1;
    /* background-color: green; */
    margin-left: 20px;
    margin-right: 120px;
} 






.upload_flot{
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 100;
}

.border{
    width: 5px;
    height: var(--100);
    background-color: white;
}





/* dashboard */

.Contact_con_A{
    margin-top: 20px;
    width: var(--100);
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
}
.offers_con_2{
    flex-grow: 1;
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.check_room_con{
    width: var(--100);
    height: 100px;
    /* background-color: gray; */
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.check_room_sub_con{
    height: var(--100);
    width: 100px;
    /* background-color: red; */
    flex-grow: 1;
    margin: 5px;
}
.find_room_admin{
    width: var(--100);
    height: 50px;
    margin: 5px;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: #253544;
    outline: none;
    border: none;
    border-radius: 5px;

}

.profile_con{
    /* width: 300px; */
    height: var(--100);
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.hover_logOut{
    width: 300px;
    height: 0px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    
}
.logut_btn_con{
    width: var(--100);
    height: var(--100);
    /* background-color: red; */
    margin: 10px;
    overflow: hidden;

    
}
.log_out_btn{
    width: var(--100);
    height: 20px;
    margin: 3px;
    /* background-color: green; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;

}
.log_out_btn:hover{
    color: red;

}


































































/* header{
    height: 80px !important;
}
.page-sidebar{
    margin-top: 80px;
} */









  



















































